venv/
.env/
.envrc
*.env
db.sqlite3
db.sqlite3-journal
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.py[co]
/media/
.idea/
.vscode/
*.swp
*.sublime-project
*.sublime-workspace
*.cache
*.pid
.pytest_cache/