{% extends "diary/layout.html" %}

{% block body %}
<div class="page-container">
    <div class="px-3 py-1">
        <h2>My Places</h2>
        <hr>
    </div>

    <!-- Map and Legend -->
    <div class="route-map-legend row g-0">
        <!-- Planning route -->
        <div class="col-md-3 col-12 bg-light p-3 sidebar" id="create-route">
            <div class="sidebar-group position-relative">
                <h5 class="group-title">Detail Place Info</h5>
                <button type="button" class="btn btn-toggle" aria-label="Toggle">
                    &minus;
                </button>
                <div class="group-content hidden" id="detail-place-info">
                    <form method="post" id="place-form" class="d-none">
                        {% csrf_token %}
                        
                        <!-- Altitude + Longitude + Latitude -->
                        <input type="hidden" id="place-longitude" name="placeLongitude">
                        <input type="hidden" id="place-latitude" name="placeLatitude">                        
                        <div class="group-item">
                            <div id="place-altitude" name="placeAltitude"></div>
                            <div id="place-longlat" class="small ms-auto"></div>
                        </div>
            
                        <!-- Country + Address -->
                        <input type="hidden" id="place-country-iso" name="placeCountryISO">
                        <input type="hidden" id="place-country-name" name="placeCountryName">
                        <input type="hidden" id="place-city-name" name="placeCityName">
                        <div class="group-item">
                            <div class="me-2" data-bs-toggle="tooltip" id="place-country-tooltip">
                                <span id="place-country-flag"></span>
                            </div>
                            <div id="place-address"></div>
                        </div>
            
                        <!-- Name ✏ -->
                        <div class="group-item">
                            <label class="me-1">Place's Name:</label>
                            <span id="place-name-display" class="fw-bold"></span>
                            <input type="text" id="place-name" class="form-control d-none w-auto" name="placeName">
                            <button type="button" id="edit-name-btn" class="btn p-0 border-0 bg-transparent">✏️</button>
                        </div>
            
                        <!-- Date & Time -->
                        <div class="group-item">
                            <label class="me-1">Date of visit:</label>
                            <input type="datetime-local" id="place-datetime-picker" class="form-control w-auto" name="placeDt">
                        </div>
            
                        <!-- Description -->
                        <div class="group-item">
                            <textarea id="place-description" class="form-control" rows="3" placeholder="Enter description here..." name="placeDescription"></textarea>
                        </div>
                        
                        <!-- Place's Category -->
                        <input type="hidden" id="place-category-id" name="placeCategoryId">
            
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-secondary mt-3">Add Point to Route</button>
                        </div>
                    </form>
                </div>
            </div>
        
            <div class="sidebar-group position-relative" id="route-main-block">
                <h5 class="group-title">Create your route</h5>
                <button type="button" class="btn btn-toggle" aria-label="Toggle">
                    &minus;
                </button>
                <div class="group-content" id="route-points">
                    {% if places %}
                        {% for place in places %}
                            <div class="point-item card mb-2 p-2 shadow-sm" data-point-id="{{ place.id }}">
                                <div class="card-body p-2 d-flex align-items-center gap-2">
                                    <span class="icon-category">{{ place.icon }}</span>
                                    <h6 class="card-title mb-1">{{ place.name }}</h6>
                                    <button type="button" class="btn btn-link text-secondary p-1 position-absolute top-0 end-0" onclick="deletePointFromRoute({{ place.id }})">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="text-muted">No points added yet.</div>
                    {% endif %}
                </div>
            </div>            
        </div>

        <!-- Map -->
        <div class="col-md-7 col-12" id="map-container">
            <div id="map">
                <button id="legend-toggle-btn" class="btn btn-outline-secondary btn-sm"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="left" 
                        title="Hide Map Legend">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>

        <!-- Map Legend (Sidebar) -->
        <div class="col-md-2 col-12 bg-light sidebar legend" id="map-legend">

            <!-- My Places -->
            <div class="sidebar-group">
                <h5>My Places</h5>
                <!--
                 <div class="checkbox-container">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="visited">
                        <label class="form-check-label" for="visited">Visited</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="planned">
                        <label class="form-check-label" for="planned">Planned</label>
                    </div>
                 </div>
                 -->
            </div>

            <!-- Categories -->
            {% for category in categories %}
                <div class="sidebar-group mt-3">
                    <h5>{{ category.category }}</h5>
                    <div class="checkbox-container">
                        {% for subcategory in category.subcategories.all %}
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input"
                                       id="category-{{ subcategory.key }}:{{ subcategory.value }}">
                                <label class="form-check-label"
                                       for="category-{{ subcategory.key }}:{{ subcategory.value }}">
                                    {{ subcategory.value|capfirst }}
                                    {{ subcategory.emoji }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

        </div>

     </div>
 
     <script type="application/json" id="categories-data"> {{ categories_data|safe }} </script>
</div>

{% endblock %}
