{% extends "diary/layout.html" %}
{% block body %}
<div>
    <h2>My Places</h2>
    <hr>

    <!-- Map and Legend -->
    <div class="route-map-legend row g-0">
        <!-- Planning route -->
        <div class="col-md-2 col-12 bg-light p-3 sidebar" id="create-route">
            <div class="sidebar-group" id="detail-place-info">
                <h5>Detail Place Info</h5>
                <form method="post" id="place-form">
                    {% csrf_token %}
                    
                    <div class="d-flex align-items-center ">
                        <div class="me-2" data-bs-toggle="tooltip" title="" id="country-tooltip">
                            <span id="country-flag"></span>
                        </div>
                        <div id="city-name" class="small"></div>
                        <div id="longlat" class="small ms-auto"></div>
                    </div>
                    
                    <div class="d-flex align-items-center ">
                        <div id="altitude"></div>
                    </div>
                    
                    <div class="form-group mt-2">
                        <div class="input-group">
                            <input type="datetime-local" id="datetime-picker" class="form-control">
                        </div>
                    </div>
                    
                    <div class="form-group mt-2">
                        <div data-bs-toggle="tooltip" title="" id="category-tooltip">
                            <span id="category"></span>
                        </div>
                        <input type="text" id="place-name" class="form-control" name="name" required>
                    </div> 

                    <label>Description: <textarea id="description"></textarea></label>
                    <!--
                    <label><input type="checkbox" class="category-filter" value="visited"> Visited</label>
                    <label><input type="checkbox" class="category-filter" value="plan_to_visit"> Plan to Visit</label>
                    -->
                    <button type="submit" class="btn btn-primary mt-3">Add Point</button>
                </form>
            </div>
            
            <div class="sidebar-group">
                <h5>Create your route</h5>
            </div>
        </div>

        <!-- Map -->
        <div class="col-md-8 col-12" id="map-container">
            <div id="map">
                <button id="legend-toggle-btn" class="btn btn-outline-secondary btn-sm"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="left" 
                        title="Hide Map Legend">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>

        <!-- Map Legend (Sidebar) -->
        <div class="col-md-2 col-12 bg-light sidebar legend" id="map-legend">

            <!-- My Places -->
            <div class="sidebar-group">
                <h5>My Places</h5>
                 <div class="row">
                     <div class="col-6">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="visited">
                            <label class="form-check-label" for="visited">Visited</label>
                        </div>
                     </div>
                     <div class="col-6">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="planned">
                            <label class="form-check-label" for="planned">Planned</label>
                        </div>
                     </div>
                 </div>
            </div>

            <!-- Categories -->
            {% for category in categories %}
                <div class="sidebar-group mt-3">
                    <h5>{{ category.category }}</h5>
                    <div class="row">
                        {% for subcategory in category.subcategories.all %}
                            <div class="col-6">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input"
                                           id="category-{{ subcategory.key }}:{{ subcategory.value }}">
                                    <label class="form-check-label"
                                           for="category-{{ subcategory.key }}:{{ subcategory.value }}">
                                        {{ subcategory.value|capfirst }}
                                        {{ subcategory.emoji }}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
     </div>
 
     <script type="application/json" id="categories-data"> {{ categories_data|safe }} </script>
</div>

{% endblock %}
