/* Avatar upload*/
.avatar-section {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    margin: 20px;
}

.avatar-upload {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar-circle {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-icon {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: dimgray;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.avatar-circle:hover .camera-icon {
    opacity: 1;
}

#avatarPreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#avatarIcon {
    font-size: 90px;
    line-height: 1;
    color: #6c757d;
}

/* Choose default avatar */
.icons-grid {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 350px;
}

.color-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    padding-left: 5px;
    place-items: center;
}

.color-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
    border: 2px solid transparent;
}

.color-icon:hover {
    transform: scale(1.1);
    border-color: #000;
}

.selected-color {
    border: 2px solid #000 !important;
    transform: scale(1.1);
}

.animal-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 50px);
    gap: 10px;
}

.animal-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8f9fa;
    font-size: 24px;
    color: #6c757d;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    border: 2px solid transparent;
}

.animal-icon:hover {
    background-color: #f8f9fa;
    color: #6c757d;
    transform: scale(1.1);
    border-color: dimgray;
    border-radius: 50%;
}

.selected-icon {
    background-color: #f8f9fa;
    color: #6c757d;
    transform: scale(1.1);
    transition: background-color 0.2s, transform 0.2s;
    border-color: dimgray;
    border-radius: 50%;
}

/* Dropdown Menu */
.dropdown-item {
    padding: 8px 16px;
    font-size: 14px;
}

.dropdown-menu {
    min-width: 180px;
}

.nav-link.dropdown-toggle {
    cursor: pointer;
}

/* Map and Legend */
/* Common block */
.route-map-legend{
    display: flex;
}

/* Map */
#map-container {
    display: flex;
    transition: width 0.3s ease-in-out;
}

#map {
    width: 100%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Groups in Legend */
.sidebar-group {
}

.sidebar-group h5 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.checkbox-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Checkbox */
.sidebar-group label {
    display: block;
    margin: 5px 0;
    font-size: 14px;
    cursor: pointer;
}

.sidebar-group input[type="checkbox"] {
    margin-right: 8px;
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

/*Map Legend animation*/
.legend {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: relative;
}

.legend.hidden {
    transform: translateX(100%);
    opacity: 0;
}

#legend-toggle-btn {
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    position: absolute;
    z-index: 9999;
    cursor: pointer;
    width: 30px;
    height: 30px;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

