/* Avatar upload*/
.avatar-section {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    margin: 20px;
}

.avatar-upload {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar-circle {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-icon {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: dimgray;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.avatar-circle:hover .camera-icon {
    opacity: 1;
}

#avatarPreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#avatarIcon {
    font-size: 90px;
    line-height: 1;
    color: #6c757d;
}

/* Choose default avatar */
.icons-grid {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 350px;
}

.color-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    padding-left: 5px;
    place-items: center;
}

.color-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
    border: 2px solid transparent;
}

.color-icon:hover {
    transform: scale(1.1);
    border-color: #000;
}

.selected-color {
    border: 2px solid #000 !important;
    transform: scale(1.1);
}

.animal-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 50px);
    gap: 10px;
}

.animal-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8f9fa;
    font-size: 24px;
    color: #6c757d;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    border: 2px solid transparent;
}

.animal-icon:hover {
    background-color: #f8f9fa;
    color: #6c757d;
    transform: scale(1.1);
    border-color: dimgray;
    border-radius: 50%;
}

.selected-icon {
    background-color: #f8f9fa;
    color: #6c757d;
    transform: scale(1.1);
    transition: background-color 0.2s, transform 0.2s;
    border-color: dimgray;
    border-radius: 50%;
}

/* Dropdown Menu */
.dropdown-item {
    padding: 8px 16px;
    font-size: 14px;
}

.dropdown-menu {
    min-width: 180px;
}

.nav-link.dropdown-toggle {
    cursor: pointer;
}

html, body {
    overflow: hidden;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Map and Legend */
/* Common block */
.route-map-legend{
    min-height: 100vh;
}

/* Map */
#map-container {
    transition: width 0.3s ease-in-out;
    min-height: 100vh;
    display: flex;
}

#map {
    width: 100%;
    height: 100%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    overflow-y: auto;
    box-sizing: border-box;
    min-height: 100vh;
}

/* Groups in Legend */
.sidebar-group {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    position: relative;
    transition: all 0.3s ease;
}

.btn-toggle {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-toggle:hover {
    border: 1px solid #aaa;
    cursor: pointer;
}

.group-content {
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 1;
}

.group-content.hidden {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.sidebar-group h5 {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

#detail-place-info{
    opacity: 1;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    overflow: hidden;
}

#detail-place-info.hidden {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#route-main-block{
    opacity: 1;
    transition: opacity 0.5s ease, max-height 0.5s ease;
    overflow: hidden;
}

#route-main-block.hidden {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.sidebar-group .group-item {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.checkbox-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Checkbox */
.sidebar-group label {
    display: block;
    margin: 5px 0;
    font-size: 14px;
    cursor: pointer;
}

.sidebar-group input[type="checkbox"] {
    margin-right: 8px;
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

#route-points {
    max-height: 600px;
    overflow-y: auto;
    padding-right: 5px;
}

/*Map Legend animation*/
.legend {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(0);
}

.legend.hidden {
    transform: translateX(100%);
}

#legend-toggle-btn {
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    position: absolute;
    z-index: 9999;
    cursor: pointer;
    width: 30px;
    height: 30px;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.point-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.point-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    background-color: #f8f9fa;
}

/* for drag & drog*/
.dragging {
    opacity: 0.6;
    background-color: #f8f9fa;
    border: 1px dashed #ccc;
}

.visited-marker {
    position: relative;
    background: url('https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png') no-repeat center center;
    background-size: contain;
    width: 25px;
    height: 41px;
}

.unvisited-marker {
    position: relative;
    background: url('https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png') no-repeat center center;
    background-size: contain;
    width: 25px;
    height: 40px;
    filter: grayscale(100%); /* black & white */
}

.marker-icon {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-shadow: 0 0 3px white;
}